<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NANO_885_Resistance_Histogram.My.MySettings.NANO_885_Data_LogConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\NANO 885 Data Log.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfnano885log"
      providerName="System.Data.OleDb" />
    <add name="NANO_885_Resistance_Histogram.My.MySettings.NANO_885_Part_NumbersConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\NANO 885 Part Numbers.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfnano885partnum"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Serial1" value="COM8" />
    <add key="Serial2" value="COM9" />
	<add key="Timing" value="20" />
    <add key="0885001.DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\088502.5.DR -Dummy\ProduceLog.db" />
    <add key="08851.25DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\08851.25DR\ProduceLog.db" />
    <add key="088501.6DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\088501.6DR\ProduceLog.db" />
    <add key="0885002.DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\0885002.DR\ProduceLog.db" />
    <add key="088502.5DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\088502.5DR\ProduceLog.db" />
    <add key="08853.15DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\08853.15DR\ProduceLog.db" />
    <add key="0885004.DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\0885004.DR\ProduceLog.db" />
    <add key="0885005.DR" value="D:\IntelligentVisionPlatforms-x64-20230511\MicroMatch\server\127.0.0.1_6000\Project\0885005.DR\ProduceLog.db" />
    <add key="dbTableReference" value="19816" />
    <add key="dateReference" value="2024-04-03" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>